<main>
<div class="timer-div">
  <ol class="timer-list">
      <li class="timer-item timer-item-active">
          <p class="timer-paragraph">
              pomodoro
          </p>
      </li>
      <li class="timer-item">
          <p class="timer-paragraph">
              short break
          </p>
      </li>
      <li class="timer-item">
          <p class="timer-paragraph">
              long break
          </p>
      </li>
  </ol>
</div>
<div class="clock-div">
  <div class="progress-bar">
    <div class="progress-fill"></div>
    <div class="clock">
      <p class="clock-numbers">00:00</p>
      <button class="btn">Start</button>
    </div>
  </div>
</div>
</main>