<section>
<div class="timer-div">
  <ol class="timer-list">
      <li class="timer-item timer-item-active timer-pomodoro">
          <p class="timer-paragraph">
              pomodoro
          </p>
      </li>
      <li class="timer-item timer-short-break">
          <p class="timer-paragraph">
              short break
          </p>
      </li>
      <li class="timer-item timer-long-break">
          <p class="timer-paragraph">
              long break
          </p>
      </li>
  </ol>
</div>
<div class="clock-div">
  <div class="progress-bar">
    <div class="progress-fill"></div>
    <div class="clock">
      <div class="clock-time-div">
        <span class="clock-time">{{timerMinutes}}</span>:<span class="clock-time">{{timerSeconds}}</span>
      </div>
      <button class="btn pause-btn" (click)="PauseTimer()">PAUSE</button>
      <button class="btn start-btn" (click)="StartTimer()">START</button>
    </div>
  </div>
</div>
</section>