*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Variables

$color-background-primary: #1E213F;
$color-background-secondary: #161932;
$color-text: #EFF1FA;
$color-modal: #FFFFFF;
$color-text-options: #D7E0FF;
$color-accessories-red: #F87070;
$color-accessories-blue: #70F3F8;
$color-accessories-purple: #D881F8;
$font-family: 'monospace, Tahoma, sans-serif';