<div class="modal-wrapper" *ngIf="isVisible">
    <section class="modal">
        <h1>Settings</h1>
        <button (click)="onClose()">X</button>
        <hr>
        <div class="timers-div">
            <h2>Time (Minutes)</h2>
            <ol class="timers-list">
                <li class="timers-item">
                    <h3>Pomodoro</h3>
                    <input type="number" [(ngModel)]="pomodoroInput" (change)="sendPomodoroTime()">
                </li>
                <li class="timers-item">
                    <h3>Short Break</h3>
                    <input type="number" [(ngModel)]="shortBreakInput" (change)="sendShortBreakTime()">
                </li>
                <li class="timers-item">
                    <h3>Long Break</h3>
                    <input type="number" [(ngModel)]="longBreakInput" (change)="sendLongBreakTime()">
                </li>
            </ol>
            <hr>
            <div class="colors-div">
                <h2>Color</h2>
            </div>
            <ol class="colors-list">
                <li class="colors-item"></li>
                <li class="colors-item"></li>
                <li class="colors-item"></li>
            </ol>
        </div>
    </section>
</div>
