<div class="modal-wrapper" *ngIf="isVisible">
    <section class="modal">
        <h1>Settings</h1>
        <button (click)="onClose()">X</button>
        <hr>
        <div class="timers-div">
            <h2>Time (Minutes)</h2>
            <ol class="timers-list">
                <li class="timers-item">
                    <h3>pomodoro</h3>
                    <input type="number" name="pomodoro" id="pomodoro" value="25">
                </li>
                <li class="timers-item">
                    <h3>short brake</h3>
                    <input type="number" name="short" id="short" value="5">
                </li>
                <li class="timers-item">
                    <h3>long brake</h3>
                    <input type="number" name="long" id="long" value="15">
                </li>
            </ol>
            <hr>
            <div class="colors-div">
                <h2>Color</h2>
            </div>
            <ol class="colors-list">
                <li class="colors-item"></li>
                <li class="colors-item"></li>
                <li class="colors-item"></li>
            </ol>
        </div>
    </section>
</div>
