<div class="modal-wrapper" *ngIf="isVisible">
    <section class="modal">
        <div class="title-div">
            <h1>Settings</h1>
            <button (click)="onClose()">X</button>
        </div>
        <hr>
        <div class="timers-div">
            <h2>Time (Minutes)</h2>
            <ol class="timers-list">
                <li class="timers-item">
                    <h3>Pomodoro</h3>
                    <input type="number" min="1" [(ngModel)]="pomodoroInput" (change)="sendPomodoroTime()">
                </li>
                <li class="timers-item">
                    <h3>Short Break</h3>
                    <input type="number" min="1" [(ngModel)]="shortBreakInput" (change)="sendShortBreakTime()">
                </li>
                <li class="timers-item">
                    <h3>Long Break</h3>
                    <input type="number" min="1" [(ngModel)]="longBreakInput" (change)="sendLongBreakTime()">
                </li>
            </ol>
            <hr>
        </div>
        <div class="colors-div">
            <h2>Color</h2>
            <ol class="colors-list">
                <li class="colors-item color-red actived" (click)="setRed()"></li>
                <li class="colors-item color-blue" (click)="setBlue()"></li>
                <li class="colors-item color-purple" (click)="setPurple()"></li>
            </ol>
        </div>
    </section>
</div>
